<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro de Animal - MapPet</title>
  <link rel="stylesheet" href="static/style.css">
</head>
<body>

  <div class="page-card">
    
    <!-- Título superior -->
    <h1 class="page-title">Cadastro de Animal</h1>

    <!-- Formulário com 4 campos verticais -->
    <form class="form-cadastro" action="/cadastrar" method="POST">
      
      <div class="input-group">
        <label for="cpf">CPF</label>
        <input type="text" id="cpf" name="cpf" placeholder="Seu CPF ou o CPF do seu Pet" required>
      </div>
      
      <div class="input-group">
        <label for="nome">Nome</label>
        <input type="text" id="nome" name="nome" placeholder="Nome do pet" required>
      </div>

      <div class="input-group">
        <label for="raca">Raça</label>
        <input type="text" id="raca" name="raca" placeholder="Raça do pet" required>
      </div>

      <div class="input-group">
        <label for="idade">Idade</label>
        <input type="text" id="idade" name="idade" placeholder="Ex: 2 anos ou 5 meses" required>
      </div>

      <div class="input-group">
        <label for="local">Escolha um local:</label>
      <select class="meu-select" id="select" name="clini_shop">
        <option value="clini">Clínica</option>
        <option value="petshop" selected>Pet-Shop</option>
      </select>

      </div>

      <div class = "input-group">
        <label for="pet-imagem">Carregue uma Imagem do seu Pet</label>
        <input type="file" id="pet_imagem" name="pet-imagem" placeholder="Imagem do seu pet" >
      </div>

      <!-- Botão para enviar o formulário -->
      <button type="submit" class="btn-salvar">Cadastrar</button>
      
    </form>

    <a href="/" class="btn-voltar">← Voltar ao Início</a>

  </div>

</body>
</html>