<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="static/style.css">
  <title>Perfil dos Animais</title>
</head>
<body>

  <img src="static/Imagens/logo.png" alt="Logo MapPet" class="logo">
  
  <h1>Perfil dos Animais em Clínicas</h1>

  <!-- Lista contendo todos os cartões de animais -->
  <div class="lista-animais">
    <article class="cartao-animal">
      <tbody class="tabela">
          {% for animal in animais %}
              <tr>
                  <td>{{ animal.CPF }}</td>
                  <td>{{ animal.NOME }}</td>
                  <td>{{ animal.RACA }}</td>
                  <td>{{ animal.IDADE }}</td>
                  <td>{{ animal.LOCAL }}</td>
                  <td>{{ animal.FOTO }}</td>
                  <td>
                    <a href="{{ url_for('excluir', cpf=animal.CPF )}}" onclick="return confirm('Confirmar a Exclusão do animal?')">Excluir</a>
                </td>
              </tr>
          {% endfor %}
      </tbody>
    </article>
  </table>

</div>

  <a href="/" class="btn-voltar">← Voltar ao Início</a>
  
</body>
</html>
