<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro do Cliente - MapPet</title>
  <link rel="stylesheet" href="static/style.css">
</head>
<body>

  <div class="page-card">
    
    <!-- Título superior -->
    <h1 class="page-title">Faça seu cadastro/login</h1>

    <!-- Formulário com 4 campos verticais -->
    <form class="form-cadastro" action="/cadastrar_usuario" method="POST">
      
      <div class="input-group">
        <label for="cpf_cliente">CPF</label>
        <input type="text" id="cpf_cliente" name="cpf_cliente" placeholder="O seu CPF" required>
      </div>
      
      <div class="input-group">
        <label for="nome_cliente">Nome</label>
        <input type="text" id="nome_cliente" name="nome_cliente" placeholder="Seu nome" required>
      </div>

      <div class="input-group">
        <label for="idade_cliente">Idade</label>
        <input type="text" id="idade_cliente" name="idade_cliente" placeholder="Sua idade" required>
      </div>

      <div class="input-group">
        <label for="telefone">Telefone de contato</label>
        <input type="text" id="telefone" name="telefone" placeholder="Seu telefone de contato" required>
      </div>

      <div class="input-group">
        <label for="senha">Senha da conta</label>
        <input type="text" id="senha" name="senha" placeholder="Seu telefone de contato" required>
      </div>

      <!-- Botão para enviar o formulário -->
      <button href="/cadastro" type="submit" class="btn-salvar">Cadastrar/Logar</button>
      
    </form>

  </div>

</body>
</html>