<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="static/style.css">
  <title>Perfil dos Animais</title>
</head>
<body>

  <h1>Perfil dos Animais em Pet Shops</h1>

  <!-- Lista contendo todos os cartões de animais -->
  <div class="lista-animais">
        <article class="cartao-animal">
          <tbody class="tabela">
              {% for animal in animal1 %}
                  <tr>
                      <td>{{ animal1.ANIMAL_ID }}</td>
                      <td>{{ animal1.NOME }}</td>
                      <td>{{ animal1.RACA }}</td>
                      <td>{{ animal1.IDADE }}</td>
                      <td>{{ animal1.LOCAL }}</td>
                      <td>{{ animal1.FOTO }}</td>
                  </tr>
              {% endfor %}
          </tbody>
        </article>
      </table>

  </div>

  <a href="/" class="btn-voltar">← Voltar ao Início</a>

</body>
</html>
